<div class="header">


<div class="row">
        <div class="col-md-4">
            {{ page.branding }}
        </div>

        <div class="col-md-8 d-none d-lg-block">
        <div class="site-navigation">
            {{ page.navigation }}
        </div>
        </div>
</div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mobile_navigation d-lg-none d-xl-none">
                {{ page.mobile_navigation }}
            </div>
        </div>
    </div>

<div class="container">
    <div class="content">
        {{ page.content }}
    </div>
</div>

    <div class="socialmedia">

            <div class="offset-sm-2">
            </div>

            <div class="col-md-10">
                {{ page.socialmedia }}
            </div>
        </div>


    <div class="intouch">
            <div class="col-md-12">
                {{ page.getintouchsection }}
            </div>
    </div>

    <div class="primaryfooter">
            <div class="col-md-12">
                {{ page.primary_footer }}
            </div>
        </div>
 

    <div class="footer">
        {{ page.footer }}
    </div>

</div>