<div class="container">
<div class="header">
{{ page.header }}
</div>
<div class="hero">
{{ page.hero }}
</div>
<div class="content">
{{ page.content }}
</div>
<div class="sidebar">
{{ page.sidebar }}
</div>
<div class="primary_footer">
{{ page.primary_footer }}
</div>
<div class="secondary_footer">
{{ page.secondary_footer }}
</div>
</div>